.contenu{
    position: absolute;
    top: 60%;
    background: none;

    left: 50%;
    width: 300px;
    transform: translate(-50%, -50%);
    outline: none;
     height:500px;
}
.hire{
    width: 220px;
    height: 30px;
    background: #333;
    border-radius: -10%;
}
.hero-image {
    /* The image used */
    

    /* Set a specific height */
    height: 150px;
     width: 120px;
     left: 20%;
     top:200px;
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


.date{
    text-align: center;
    text-decoration-line: underline;
    font-size: 20px;
}

.edit{

    position: absolute;
    top: 190%;
    background-color: blue;
    border-radius: 15%;
    width: 70px;
    height: 35px;;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 700px; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
.model-cont{
    padding: 16px;
}
.submitBtn{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 10px;
  padding: 14px 22px;
background-color: #07c020;
}


.closeBtn{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 10px;
    padding: 14px 22px;
 
    background-color: #f44336;
  }

  .button{
    background:coral;
    padding:1em 2em;
    color:#fff;
    border:0;
    position: fixed;
    top: 70%;
    bottom: 20%;

    
  }
  
  .button:hover{
    background:#333;
  }
