body{
    margin: 0;
    padding: 0;
    font-family: Quicksand;


}
/* all for button Actions
.dropdown {
    position: relative;
    display: inline-block;
}*/

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}
.dropbtn1{
    background-color: rgb(14, 128, 194);
    color: white;
    margin: 10px;
    padding: 16px;
    font-size: 16px;
    border: none;
}
.dropbtn2{
    background-color: #E2472F;
    color: white;
    margin: 10px;
    padding: 16px;
    font-size: 16px;
    border: none;
    width:100px;
}
.dropdown-content a {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
/*.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

dropdown-content a:hover {background-color: #ddd;}

dropdown:hover .dropdown-content {display: block;}

dropdown:hover .dropbtn {background-color: #3e8e41;}


/*********************************/
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 100px;
    box-sizing: border-box;
    transition: .3s;
    background: #000000;
}

nav.black{
    background: rgba(0, 0, 0, 0.8);
    height: 100px;
    padding: 10px 100px;

}

nav .logo{
    padding: 22px 20px;
    height: 80px;
    float: left;
    transition: .3s;
    font-size: 24px;
    color: #fff;
}

nav.black .logo{
    color: #fff;

}

nav ul{
    list-style: none;
    float: right;
    margin:0;
    padding: 0;
    display: flex;

}

nav ul li{
    list-style: none;
}

nav ul li a{
    line-height: 80px;
    color: #fff;
    padding: 12px 30px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s;

}

nav.black ul li a {
 color: rgb(63, 60, 60);
}

nav ul li a:focus{
    outline: none;

}

nav ul li a.active{
    background: rgb(83, 65, 62);
    color: #fff;
    border-radius: 6px;
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

nav ul  li a.desactive{
    background: #E2472F;
    color: #fff;
    border-radius: 6px;
    padding: 20px;
}