<html>
  <head>
    <meta charset="utf-8">

          <title>my first web site</title>
          
          <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quickstand:500">
          
         <script src="https://code.jquery.com/jquery-3.2.1.js">
          </script>
</head>
 <body>
   <div class="wrapper">
   <nav >
        <div class="logo">LOGO</div>
        <ul>
          <li><a routerLink='home'>Home</a></li>
          <li><a routerLink='/myskills'>My Skills</a></li>
          <li><a routerLink='/addskill'>addskill</a></li>
          <li><a routerLink='/allskills'>All kills</a></li>
          <li><a class="active" routerLink='/login'>log in</a></li>
          <li><a class="desactive" routerLink='/register'>sign up</a></li>

        </ul>
        <!--<div class="dropdown">-->
          <button class="dropbtn">your profile</button>
            <div class="drop-content">
                   <a href="reload">my profile</a> 
                   <a href="logout">Logout</a>
            </div>
        <!--/div-->
   </nav>
  </div>
 
 </body>

</html>