<html>
  <head>
  <title>my reisrtraion form</title>
</head>


<body>
<div class="login-page">
  <div class="form">
    
<form class="register-form">
      <input type="text" placeholder="insert your username" ><!--name="username" [(ngModel)]="username"-->
      <input type="text" placeholder="insert your password" ><!--name="password" [(ngModel)]="password"-->
<button>confirmation</button>
</form>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.js">
</script>

</body>
</html>