body{
    padding: 300 400 400 400 ;
   
    font-family: sans-serif;
    font-size: 1en;
   /* background: aquamarine;*/
    background-attachment: fixed;

}
.reglage{
    position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);


}
table{
    width: 1000px;

}
table th ,td{
    border: 1px solid black;
  
    border-collapse: collapse;
    
}


th ,td {
    padding: 10px;
    text-align: center;

}

th{
    background-color: rgb(44, 180, 32);
    color: white;
}
tr:nth-child(event){
    background-color: #e8e8e8;
}
tr:nth-child(odd){
    background-color: white;
}
#header{
    background-color: tomato;
}

.bdeseignEdt{
    background: blue;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10%;
    width: 100%;
    border-radius: 18%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}
.bdeseignEdt:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.bdeseignDel{
    background: red;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10%;
    width: 125%;
    font-size-adjust: none;
    border-radius: 18%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

.bdeseignDel:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


/****model.$*/

.button{
  background:coral;
  padding:1em 2em;
  color:#fff;
  border:0;
  position: fixed;
  top: 550px;
  right: 100px;
  
}

.button:hover{
  background:#333;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.closeBtn{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 10px;
    padding: 14px 22px;
  background-color: #f44336;
  }

  .submitBtn{
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 10px;
    padding: 14px 22px;
  background-color: #07c020;
  }
  * {box-sizing: border-box}
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }

  .model-cont{
      padding: 16px;
  }
  input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }

  
input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }



    




/*
.modal{
  display:none;
  position: fixed;
  z-index:1;
  left: 0;
  top:0;
  height: 100%;
  width:100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

.modal-content{
  background-color:#f4f4f4;
  margin: 20% auto;
  width:70%;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
  animation-name:modalopen;
  animation-duration:1s;
}

.modal-header h2, .modal-footer h3{
  margin:0;
}

.modal-header{
  background:coral;
  padding:15px;
  color:#fff;
}

.modal-body{
  padding:10px 20px;
}

.modal-footer{
  background:coral;
  padding:10px;
  color:#fff;
  text-align: center;
}

.closeBtn{
  color:#ccc;
  float: right;
  font-size:30px;
  color:#fff;
}



@keyframes modalopen{
  from{ opacity: 0}
  to {opacity: 1}
}*/
