
body{
    height:100vh;
    background-size: cover;
    background-position: center;
   /* background: url('C:\Users\saif\Desktop\websiteangular\src\assets\img\MoonEarthHide.jpg');*/

}
.login-page{
width: 350px;
padding: 10% 0 0 ;
margin:auto;
}

.form{

    position: relative;
    z-index: 1;
    background: rgb(16, 134, 51);
    max-width: 360;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;

}

.form input{
    font-family: "Roboto",sans-serif;
    outline: 1;
    background: #fff;
    width:100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;

}

.form button{
    font-family: "Roboto",sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: blue;
    width: 100%;
    border:0;
    padding: 15px;
    color: #ffffff;
    font-size: 15px;
    cursor: pointer;

}

.form button:hover, .form button:active{
    background: steelblue;
}