<html>
  <script type="text/javascript">
   $(window).on('scroll',function(){

if(($window).scrollTop()){
  $('nav').addClass('black');
}else{
  $('nav').removeClass('black');

}
   });
  
  </script>
<div>
<section class="sec1"></section>
<section class="content">
<!-- we can put a paragraphe here or where ever you want -->
<p>
  welcom to my new site my name is saif eddine jouini 24 years old I'm new for angular
  and firebase my first project about skills updates and adds and all acts that I 
  need for it
</p>
</section>
</div>
</html>