<html>
  <head>
    <meta charset="utf-8">
  <title>my reisrtraion form</title>
</head>


<body>
  <!--img src="C:\Users\saif\Desktop\websiteangular\src\assets\img\DspuM-PIC-MCH061122.jpg"-->
<div class="container">
    
       <h1>Regitration here</h1>
      <form>
             <div>
                <input type="text" ng-Model name="fname"  placeholder="" required minlength="3" maxlength="20" >
               <label>
                insert your first name
              </label>
             </div>
             <div>
                <input type="text" placeholder="" name="lname" ng-Model>
               <label>
                insert last name
               </label>
             </div>
             <div>
                <input type="text" placeholder="" name="email" ng-Model>
               <label>
                insert your email
               </label>
             </div>
             <div>
                <input type="text" placeholder="" name="passwd" ng-Model>
               <label>
                   password
               </label>
             </div>

             <div>
                <input type="text" placeholder="" name="rpasswd" ng-Model>
               <label>
                   Re-enter-password
               </label>
             </div>
                            <!--<button>registration</button>-->
                            <input type="submit" value="register" name="signup">
      </form>      
</div>

<script src="https://code.jquery.com/jquery-3.2.1.js"></script>

</body>
</html>